@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); 

body {
    font-family: "Roboto", sans-serif;
    background-color: #131313;
}

h1 {
    font-family: "Roboto";
    color: white;
}

.media-picture {
    height: 400px;
    background-image: url("../img/marvel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.review-score {
    color: white;
    background-color: #e6bd09;
    padding: 12px;
}

h2 {
    color: steelblue;
}

p {
    color: #bdbdbd;
    font-family: "Roboto";
}

a {
    color: yellow;
}