box{
    width: 500px;
    height: 200px;
    font-size: 20px;
}

.red-box{
    background-color: red;
    padding: 30px;
    border: 5px solid yellow;
}
.green-box{
    background-color: green;
    padding: 10px;
}
.purple--box{
    background-color: purple;
}
.orange-box{
    width: 150px;
    height: 150px;
    background-color: orange;
}